@import "~antd/dist/antd.min.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.layout-main {
  padding: 20px 20px 60px;
}

.login-tail {
  display: flex;
  justify-content: space-between;
  margin-left: 33.33%;
  max-width: 33.33%;
  .remember-form {
    .ant-col {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  .login-tail {
    margin-left: 0;
    max-width: 100%;
    .ant-col-offset-8 {
      margin-left: 0;
    }
  }
}
